extends layout

<script>  
 var socket = io.connect('http://10.1.220.19:4200');
 socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
</script>

block content
  h1= title
  p Welcome to #{title}
